.gridContainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.gridItemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc((100% - 80px) / 5);
    margin: 8px; 
}



.cardContent {
    padding: 8px;
}

@media only screen and (max-width: 1024px) {
    .card {
        width: calc((100% - 65px) / 4);
    }
}


@media only screen and (max-width: 600px) {
    .card {
        width: calc((100vw - 44px) / 2);
    }
    .gridContainer {
        align-items: center;
        justify-content: center;
    }
}