.container {
    /* padding: 24px; */
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 28px;
}

.prebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imageUpload {
  opacity: 1;
  display: block;
  width: calc(100vw / 6);
  height: calc((100vw / 8) );
  transition: .5s ease;
  backface-visibility: hidden;
  /* margin: 14px; */
}

@media only screen and (max-width: 600px) {
    .prebox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .imageUpload {
      opacity: 1;
      display: block;
      width: 100vw;
      height: calc((100vw / 2) );
      transition: .5s ease;
      backface-visibility: hidden;
      /* margin: 14px; */
    }
    
}
  

.file {
    display: none;
}

.containerImageUpload {
  position: relative;
  width: 100%;
  margin: 14px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerImageUpload:hover .imageUpload {
  opacity: 0.3;
}

.containerImageUpload:hover .middle {
  opacity: 1;
}