@charset "utf-8";
$menu-item-color:#333333;
$menu-item-hover-color: #ffffff;
$menu-item-active-color: #ffffff;
$menu-item-hover-background-color: #2929a8;
$menu-item-active-background-color: #2929a8;
$menu-label-color: #4b4b4b;
$primary : #2929a8;
$success : #2e8b57;
$info : #e07b00;
$navbar-item-hover-background-color : #2929a8;
$navbar-item-active-color : #2929a8;
$navbar-item-hover-color : #ffffff;
$tabs-link-active-color : #2929a8;
$menu-item-active-background-color : #2929a8;
$body-background-color : #ececec;

@import "node_modules/bulma/bulma.sass";
@import "node_modules/bulma/sass/layout/_all.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/_all.sass";
@import "node_modules/bulma/sass/helpers/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma-switch/src/sass/index.sass";