
.loading-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columns-layout {
  padding-top: 40px;
}

.sidebar {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(77, 77, 77, 0.2);
  max-height: calc(100vh - 45px);
  padding-right: 0px;
  margin-top: 20px;
  overflow-y: auto;
  position: sticky;
}

.main-layout {
  min-height: calc(100vh - 45px);
  max-height: calc(100vh - 45px);
  overflow-y: auto;
  padding: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .main-layout {
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    padding: 20px;
    margin-left: 10px;
    margin-right: 0px;
  }
}

.list-header {
  display: flex;
  padding: 1px;
  margin-bottom: 8px;
  flex-direction: row;
  justify-content: space-between;
}

.list-header-left {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
}

.list-header-right {
  display: flex;
  flex-direction: row;
  /* justify-content: end; */
}

@media only screen and (max-width: 600px) {
  .list-header {
    display: flex;
    padding: 1px;
    margin-bottom: 8px;
    flex-direction: column;
    justify-content: space-between;
  }
  .list-header-right {
    margin-top: 8px;
  }
}

